QWidget {
	background-color: #F5F5F5;
}

#left_side QPushButton {
  background-color: transparent;
  border: none;
}

#left_side QPushButton:hover {
  background-color: #F5F5F5;
  border-radius: 5px;
}

#main_loginPage #login_page_widget{
	background-color: transparent;
}

#main_loginPage QLineEdit {
	border-radius: 6px;
	border: 2px solid rgb(67, 185, 181);
}

#main_loginPage QPushButton {
	border-radius: 6px;
	border: 2px solid rgb(67, 185, 181);
	background-color:  rgb(67, 185, 181);
}

#main_loginPage QPushButton:hover {
	border-radius: 6px;
	border: 2px solid rgb(54, 150, 145);
	background-color: rgb(54, 150, 145);
}